/* main { */
/* height: 100%; */
/* display: flex; */
/* flex-direction: row; */
/* height: 100vh;
  background-color: #0f172a; */
/* min-height: 100vh;
  background-color: #0f172a;
} */

aside {
  /* display: flex; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 18rem;
  background-color: #020617;
  color: white;
  z-index: 10;
  flex-direction: column;
  border-right: 1px solid rgba(245, 12, 12, 0.05);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

nav {
  flex: 1;
  padding: 0 1rem 0 1rem;
  /* padding-left: 1rem;
    padding-right: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  user-select: none;
}

button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-weight: 600;
  font-size: medium;
  color: #94a3b8;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.275s ease-in-out;
  white-space: nowrap;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #ffffff05;
    color: white;
    transform: translateX(0.25rem);
  }

  &:active {
    transform: scale(1.05) translateX(0.5rem);
    background-color: #4f46e5;
    color: white;
    box-shadow: 0 10px 15px -3px rgba(30, 64, 175, 0.2);
    transition:
      transform 0s ease,
      background-color 0.25s ease;
  }

  &.active-router {
    outline: none;
    background-color: #073e74;
    color: white;
  }
}
