.product-header {
  display: flex;
  margin-bottom: 0.25rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  border: solid #1a1b2e;
  border-width: 0 0 1px 1px;
  border-radius: 0.5rem;
}

.action-buttons {
  position: absolute;
  display: flex;
  right: 2rem;
}