<div class="expandable-header" (click)="onToggle()">
  <div class="label">{{ label }}</div>

  <div class="right-section" (click)="($event)">
    <div class="shared-action-buttons">
      @for (action of actions; track $index) {
        <app-action-button
          [label]="action.label"
          [icon]="action.icon!"
          [type]="action.type!"
          (action)="onAction(action, $event)"
        />
      }
    </div>
    @if (expanded != undefined) {
      <span class="toggle-icon"
        ><img class="icon" [src]="expanded ? '/svg/arrow-open.svg' : '/svg/arrow-down.svg'" alt=""
      /></span>
    }
  </div>
</div>
