<main [class.signup-mode]="signupMode()">
  <section class="branding-section">
    <app-branding></app-branding>
  </section>
  <section class="form-section">
    <div class="form-wrapper">
      <app-form-header [title]="title" [signupMode]="signupMode()"></app-form-header>
      <ng-content></ng-content>
      <app-auth-buttons
        [loginLabel]="loginButton"
        [signupLabel]="signupButton"
        [processing]="processing"
        [signupMode]="signupMode()"
        (login)="submit()"
        (signup)="signup()"
      ></app-auth-buttons>
    </div>
  </section>
</main>
