main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  height: 100%;
}

.branding-section {
  position: relative;
  flex: 1.2;
  background-color: #f8fafc;
  box-shadow: inset 0 0 2.25rem rgba(0, 0, 0, 0.55);
  overflow: hidden;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    opacity: 0.15;
    z-index: 0;
  }
  & > * {
    z-index: 1;
  }
}

.form-section {
  flex: 0.8;
  z-index: 1;
  padding: 0 2rem;
  border-left: 3px solid #cbd5e1;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: clamp(280px, 85%, 448px);
    padding-bottom: 3rem;

    transition:
      margin 0.4s ease,
      gap 0.4s ease;
  }
}

main.signup-mode .form-wrapper {
  /* transform: translateY(-25px); */
  margin-bottom: 2rem;
  gap: 0.5rem;
}

@media (max-width: 48rem) {
  main {
    flex-direction: column;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    overflow: hidden;
  }

  section {
    display: flex;
    width: 100vw;
  }

  .branding-section {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    &::before {
      opacity: 0.08;
    }
  }

  .form-section {
    height: 80vh;
    padding: 0;
    border: none;
    border-top: 3px solid #cbd5e1;
  }

  .form-wrapper {
    /* transform: translateY(-2rem); */
    margin-top: -1rem;
    /* .header-wrapper {
    /* gap: 1rem; */
  }

  main.signup-mode .form-wrapper {
    /* transform: translateY(-5rem); */
    margin-top: -1rem;
    transition: margin-top 1s ease-in-out;
  }
}
