main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  height: 100%;
}

.branding-section {
  position: relative;
  flex: 1.2;
  background-color: #f8fafc;
  box-shadow: inset 0 0 2.25rem rgba(0, 0, 0, 0.55);
  overflow: hidden;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    opacity: 0.15;
    z-index: 0;
  }
  & > * {
    z-index: 1;
  }

  .branding-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    width: clamp(17.5rem, 100%, 34.5rem);
  }

  h3 {
    position: relative;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: 'segoe UI', sans-serif;
    background: linear-gradient(to right, #02477e, #fd760a);
    background-clip: text;
    color: transparent;
    margin: 0;
    letter-spacing: 0.04rem;

    &::after {
      content: '';
      position: relative;
      display: block;
      top: -10px;
      width: 12.5rem;
      height: 1.25px;
      background: linear-gradient(to right, #02477e, #fd760a);
      border-radius: 100%;
      margin: 8px auto 0;
    }
  }
}

.commerce-img {
  position: relative;
  width: 11rem;
  margin-bottom: -22px;
}

.logo-img {
  position: relative;
  width: 16rem;
  margin: -1rem;
  height: auto;
}

.form-section {
  flex: 0.8;
  z-index: 1;
  padding: 0 2rem;
  border-left: 3px solid #cbd5e1;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: clamp(280px, 85%, 448px);
    padding-bottom: 50px;

    h2 {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
  }
}

.spreadsheet-img {
  position: relative;
  top: 1.5rem;
}

.header-wrapper {
  position: relative;
  transition: transform 0.6s ease;
}

button {
  width: 100%;
  padding: 14px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.01rem;

  .login-button,
  .signup-button {
    position: relative;
  }

  &.login-button {
    background-color: #073e74;
    color: white;
    box-shadow: 0 6px 24px #33eb9150;
    &:hover {
      background-color: #073e74f0;
    }
  }

  &.signup-button {
    border: 1px solid #073e74;
    color: #073e74;

    &:hover {
      background-color: #f2f2f2;
      border: 1px solid #073e74f0;
    }
  }

  &:disabled {
    opacity: 0.6;
  }
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 85%;
  gap: 2rem;
  transition: transform 3s ease-in-out;

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;

    &:hover .login-button,
    &:hover .signup-button {
      display: inline-block;
      will-change: transform;
      transform: translateY(-2.5px);
      transition: transform 0.1s ease-in-out;
    }
    &:active .login-button,
    &:active .signup-button {
      transform: scale(1.025) translateY(-2.5px);
      transition: transform 0s ease-in-out;
    }
  }
}

main.signup-mode .header-wrapper {
  transform: translateY(50px);
}

main.signup-mode .form-wrapper {
  transform: translateY(-25px);
  gap: 0.5rem;
}

main.signup-mode .button-wrapper {
  transform: translateY(5px);
  gap: 1rem;
}

@media (max-width: 48rem) {
  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }

  section {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  .branding-section {
    height: 40vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    &::before {
      opacity: 0.08;
    }
  }

  .branding-wrapper {
    padding: 2rem;
    width: 90%;
    h3 {
      font-size: 0.5rem;
      letter-spacing: 0.03rem;

      &::after {
        width: 7rem;
        top: -9px;
      }
    }
  }

  .form-section {
    height: 75vh;
    padding: 0;
    border: none;
    border-top: 3px solid #cbd5e1;
  }

  .form-wrapper {
    transform: translateY(-2rem);
    .header-wrapper {
      h2 {
        font-size: 0.85rem;
        margin-top: 1rem;
        margin-bottom: -1rem;
      }
    }
    /* gap: 1rem; */
  }
  .button-wrapper {
    gap: 1rem;
  }

  .commerce-img,
  .logo-img,
  .spreadsheet-img {
    margin-bottom: 0.1rem;
    width: 8rem;
  }

  main.signup-mode .form-wrapper {
    transform: translateY(-2.75rem);
    
    .header-wrapper {
      h2 {
        margin-bottom: 1rem;
      }
      .spreadsheet-img {
        display: none;
      }
    }
  }

  main.signup-mode .button-wrapper {
    transform: translateY(5rem);
  }
}
