/* main { */
/* height: 100%; */
/* display: flex; */
/* flex-direction: row; */
/* height: 100vh;
  background-color: #0f172a; */
/* min-height: 100vh;
  background-color: #0f172a;
} */
section {
  margin-left: 18rem;
  padding: 2rem;
  width: calc(100% - 18rem);
  background-color: #0f172a;
  color: #0f172a;
  min-height: 100vh;
}
