<app-expandable-header
  [label]="subCategory.name"
  [expanded]="subCategory.products?.length ? subCategory.expanded : undefined"
  [actions]="[
    { label: 'Produto', icon: '/svg/add.svg', type: 'create' },
    { label: '', icon: '/svg/trash.svg', type: 'delete' },
  ]"
  (toggle)="toggle()"
  (action)="handleAction($event)"
/>

@if (subCategory.expanded) {
  <div class="product-wrapper">
    @for (product of subCategory.products; track product.id) {
      <app-product [product]="product" (delete)="onDeleteProduct($event)"></app-product>
    }
  </div>
}
