form {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 1rem;
  max-height: 100vh;
  transition:
    padding 0.4s ease,
    margin 0.4s ease;
}

form.expanded {
  transform: translateY(5px);
}

.signup-enter-animation {
  animation: slide-fade-in 0.4s ease forwards;
}

.signup-leave-animation {
  animation: slide-fade-out 0.4s ease forwards;
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(1.25rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(1.25rem);
  }
}
