form {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 1rem;
  max-height: 30%;
  transition:
    transform 0.5s ease-in-out,
    max-height 0.4s ease-in-out;
}

.signup-enter-animation {
  animation: slide-fade-in 0.5s ease;
}

.signup-leave-animation {
  animation: slide-fade-in 0.5s reverse ease-in-out;
}

form.expanded {
  animation: modu 0.1s ease-in-out;
  max-height: 50%;
  transform: translateY(5px);
}

@keyframes modu {
  from {
    max-height: 30%;
    transform: translateY(0);
  }

  to {
    max-height: 100%;
    transform: translateY(5px);
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0.1;
    transform: translateY(1.25rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

