<div class="category-wrapper">
  <app-expandable-header
    [label]="category.name"
    [expanded]="category.subCategories?.length ? category.expanded : undefined"
    [actions]="[
      { label: 'Sub-Categoria', icon: '/svg/add.svg', type: 'create' },
      { label: '', icon: '/svg/trash.svg', type: 'delete' },
    ]"
    (toggle)="toggle()"
    (action)="handleAction($event)"
  />
  @if (category.expanded) {
    @if (loading()) {
      <p>Carregando subcategorias...</p>
    } @else {
      @if (category.subCategories) {
        <div class="sub-category-wrapper">
          @for (subcategory of category.subCategories; track subcategory.id) {
            <app-sub-category
              [subCategory]="subcategory"
              (delete)="onDeleteSubCategory($event)"
            ></app-sub-category>
          }
        </div>
      }
    }
  }
</div>
