.category-wrapper {
    position: relative;
    margin: 0.25rem 0 1rem 1rem;
    border: solid #202034;
    border-width: 1px 1px 1px 0;
    border-radius: 0.5rem;
    user-select: none;
}

.sub-category-wrapper {
    margin: 0.25rem 0 1rem 1.5rem;
}