<main>
  <section class="header-wrapper">
    <header class="header-content">
      <app-action-button
        label="Categoria"
        icon="/svg/add.svg"
        type="create"
        (action)="onItemCreate()"
      ></app-action-button>
    </header>
  </section>
  <section class="catalog-content">
    @if (itemCreator()) {
      <app-item-creator
        [type]="itemCreatorType"
        [parentId]="itemCreatorParentId"
        (cancel)="toggleCreate()"
      />
    }
    @for (category of categories(); track category.id) {
      <app-category [category]="category"></app-category>
    }
  </section>
</main>
