main {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #f8fafc;
    color: white;
    transition: all 0.2s ease-in-out;
    border: none;
    border-radius: 1rem;
}

@media (prefers-color-scheme: dark) {
    main {
        background-color: #0f1122;
    }
}

.header-wrapper {
    padding: 1rem;
    background-color: #0f1122;
    border: 1px solid #202034;
    border-radius: 12px;
}

.header-content {
    display: flex;
    align-items: end;
    justify-content: flex-start;
}

section {
    padding: 1rem 1rem 1rem 0;
    border-radius: 0 0 12px 12px;
    background: transparent;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}